__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo


.venv/
env/
venv/
ENV/
*.egg-info/
*.joblib
*.pkl

.aws-sam/
.sam/

*.log
logs/
*.tmp

.DS_Store
Thumbs.db

.vscode/
.idea/

.cache/
.pytest_cache/

.ipynb_checkpoints/

.env
.env.*

ehthumbs.db
Icon?
